= render partial: "projects/header"
.mypage__own__box
  .mypage__left__box
    - if current_planner.image == nil
      = image_tag("icon_yellow.png", class: "mypage__image", size: "175x175")
    - else
      = image_tag("#{current_user.image}", class: "mypage__image", size: "175x175")
- if request.path_info == ("/planners/#{current_planner.id}/edit")
  .mypage__edit__name #{current_planner.name}
.mypage__main
  .mypage__main__left
    .mypage__border
    .mypage__menu__title
      = image_tag("black-people.png", class: "mypage__menu__title-image")
      .mypage__menu__title-text サポーター
    .mypage__inbox
      .mypage__menu
        = link_to "支援したプロジェクト", "", class: "mypage__menu__body"
        = link_to ">", "", class: "mypage__menu__icon"
    .mypage__inbox
      .mypage__menu
        = link_to "購入履歴(ストア)", "", class: "mypage__menu__body"
        = link_to ">", "", class: "mypage__menu__icon"
    .mypage__inbox.inbox__last
      .mypage__menu
        = link_to "メッセージ", "", class: "mypage__menu__body"
        = link_to ">", "", class: "mypage__menu__icon"
    .mypage__border
    .mypage__menu__title
      = image_tag("men.gif", class: "mypage__menu__title-image")
      .mypage__menu__title-text アカウント情報
    .mypage__inbox
      .mypage__menu
        = link_to "プロフィール編集", edit_planner_path, class: "mypage__menu__body"
        = link_to ">", edit_planner_path, class: "mypage__menu__icon"
    .mypage__inbox.inbox__last
      .mypage__menu
        = link_to "メール通知設定", "", class: "mypage__menu__body"
        = link_to ">", "", class: "mypage__menu__icon"
    .mypage__menu__title
      .mypage__menu__title-text{style: "margin: 13px 0 0 12px;"} セキュリティについて
    .security__box
      .security__text 当サイトはSSL暗号化通信に対応しておりますので、入力した情報は安全に送信されます。
      = image_tag("siteSealImage.gif", class: "security__image")
= render partial: "projects/footer"
