.header
  .inbox
    = link_to "/" do
      = image_tag("makuake-logo.png", class: "inbox__logo")
    .search__form
      = form_tag('/', method: :get) do
        %input.search__form__box{name: "title"}
          %label
            .search__form__btn
              = image_tag("search.png", class: "search__form__btn-image", size: "27x27")
              %input{type: "submit", value: "探す", class: "search__form__btn-text"}
    - unless user_signed_in?
      .inbox__icon
        .signup__btn.icon-right{data: {toggle: "modal", target: "#my-modal-signup"}} 新規登録
        .signin__btn.icon-right{data: {toggle: "modal", target: "#my-modal-login"}} ログイン
      = link_to "https://www.makuake.com" do
        .signin__icon-text.icon-right お気に入り
      = image_tag("heart.jpg", class: "icon-right signin__icon-heart", size: "18x18")
      = link_to "プロジェクトを掲載する", new_project_path, class: "inbox-published"
    - if user_signed_in?
      .inbox__icon
        = link_to destroy_user_session_path, method: :delete do
          = image_tag("icon_yellow.png", class: "icon-right inbox__icon-own")
        = link_to "https://www.makuake.com" do
          = image_tag("bell.jpg", class: "icon-right inbox__icon-bell")
        = link_to "https://www.makuake.com" do
          = image_tag("mail.jpg", class: "icon-right inbox__icon-mail")
        = link_to "https://www.makuake.com" do
          = image_tag("heart.jpg", class: "icon-right inbox__icon-heart")
      = link_to "プロジェクトを掲載する", "", class: "inbox-published"

.modal.fade#my-modal-login
  .modal-dialog
    .login.my-modal-position
      = render partial: "devise/shared/signup_new"

.modal.fade#my-modal-signup
  .modal-dialog
    .login.my-modal-position
      = render partial: "devise/shared/login_new"
