.header
  .inbox
    = link_to "/" do
      = image_tag("makuake-logo.png", class: "inbox__logo")
    .search__form
      = form_tag('/',  method: :get) do
        %input.search__form__box{name: "title"}
          %label
            .search__form__btn
              = image_tag("search.png", class: "search__form__btn-image", size: "27x27")
              %input{type: "submit", value: "探す", class: "search__form__btn-text"}
    .inbox__icon
      = link_to "新規登録", "/users/sign_in", class: "signup__btn icon-right"
      = link_to "ログイン", "/users/sign_up", class: "signin__btn icon-right"
      = link_to "https://www.makuake.com" do
        .signin__icon-text.icon-right お気に入り
        = image_tag("heart.jpg", class: "icon-right signin__icon-heart", size: "18x18")
    = link_to "プロジェクトを掲載する", "", class: "inbox-published"
/ログイン時
/.inbox__icon
/  = link_to "/users/sign_in" do
/    = image_tag("icon_yellow.png", class: "icon-right inbox__icon-own")
/  = link_to "https://www.makuake.com" do
/    = image_tag("bell.jpg", class: "icon-right inbox__icon-bell")
/  = link_to "https://www.makuake.com" do
/    = image_tag("mail.jpg", class: "icon-right inbox__icon-mail")
/  = link_to "https://www.makuake.com" do
/    = image_tag("heart.jpg", class: "icon-right inbox__icon-heart")
/ = link_to "プロジェクトを掲載する", "", class: "inbox-published"
