.header
  .inbox
    = link_to "/" do
      = image_tag("makuake-logo.png", class: "inbox__logo")
    .search__form
      = form_tag('/', method: :get) do
        %input.search__form__box{name: "title"}
          %label
            .search__form__btn
              = image_tag("search.png", class: "search__form__btn-image", size: "27x27")
              %input{type: "submit", value: "探す", class: "search__form__btn-text"}
    - if user_signed_in? && planner_signed_in?
      .inbox__icon
        = link_to "プロジェクトを掲載する", new_planner_project_path(current_planner), class: "inbox__icon-published"
        = link_to "/" do
          %i.inbox__icon-heart{class: "fa fa-heart-o faa-pulse animated"}
        = link_to "/" do
          %i.inbox__icon-mail{class: "fa fa-envelope-o faa-shake animated"}
        = link_to "/" do
          %i.inbox__icon-bell{class: "fa fa-bell-o faa-ring animated"}
        .inbox__icon__imagebox
          = image_tag("icon_yellow.png", class: "inbox__icon__imagebox-own header__right__btn",size: "35x35") 
          .more
            %ul.more__list.header__right__menu
              %li
                = link_to 'ユーザーマイページ', "", class: "more__list__text", method: :get
              %li
                = link_to '企画者マイページ', "", class: "more__list__text", method: :get
              %li
                = link_to 'ログアウト', destroy_user_session_path, class: "more__list__text", method: :delete

    - elsif !user_signed_in? && !planner_signed_in?
      .inbox__icon
        %a.inbox__icon-published{data: {toggle: "modal", target: "#my-modal-login-planner"}} プロジェクトを掲載する
        %i.inbox__icon-small-heart{class: "fa fa-heart-o faa-pulse animated"}
        = link_to "お気に入り", "", class: "inbox__icon-favorite"
        .signup__btn.icon-right.header__left__btn
          新規登録
          .more
            %ul.more__list.header__left__menu
              %li
                %a.more__list__text{data: {toggle: "modal", target: "#my-modal-signup"}} ユーザー登録
              %li
                %a.more__list__text{data: {toggle: "modal", target: "#my-modal-signup-planner"}} 企画者登録
        .signin__btn.icon-right.header__right__btn
          ログイン
          .more
            %ul.more__list.header__right__menu
              %li
                %a.more__list__text{data: {toggle: "modal", target: "#my-modal-login"}} ユーザーログイン
              %li
                %a.more__list__text{data: {toggle: "modal", target: "#my-modal-login-planner"}} 企画者ログイン

    - elsif user_signed_in?
      .inbox__icon
        %a.inbox__icon-published{data: {toggle: "modal", target: "#my-modal-login-planner"}} プロジェクトを掲載する
        %i.inbox__icon-small-heart{class: "fa fa-heart-o faa-pulse animated"}
        = link_to "お気に入り", "", class: "inbox__icon-favorite"
        .inbox__icon__imagebox.icon-right.mypage__top-position
          = image_tag("icon_yellow.png", class: "inbox__icon__imagebox-own header__right__btn",size: "35x35") 
          .more
            %ul.more__list.header__right__menu
              %li
                = link_to 'ユーザーマイページ', "", class: "more__list__text", method: :get
              %li
                = link_to 'ログアウト', destroy_user_session_path, class: "more__list__text", method: :delete
        .signin__btn.icon-right.planner__margin.header__left__btn
          企画者
          .more
            %ul.more__list.header__left__menu
              %li
                %a.more__list__text{data: {toggle: "modal", target: "#my-modal-signup-planner"}} 企画者登録
              %li
                %a.more__list__text{data: {toggle: "modal", target: "#my-modal-login-planner"}} 企画者ログイン

    - else planner_signed_in?
      .inbox__icon
        = link_to "プロジェクトを掲載する", new_planner_project_path(current_planner), class: "inbox__icon-published"
        %i.inbox__icon-small-heart{class: "fa fa-heart-o faa-pulse animated"}
        = link_to "お気に入り", "", class: "inbox__icon-favorite"
        .inbox__icon__imagebox.icon-right.mypage__top-position
          = image_tag("icon_yellow.png", class: "inbox__icon__imagebox-own header__right__btn",size: "35x35") 
          .more
            %ul.more__list.header__right__menu
              %li
                = link_to '企画者マイページ', "", class: "more__list__text", method: :get
              %li
                = link_to 'ログアウト', destroy_planner_session_path, class: "more__list__text", method: :delete
        .signin__btn.icon-right.planner__margin.header__left__btn
          ユーザー
          .more
            %ul.more__list.header__left__menu
              %li
                %a.more__list__text{data: {toggle: "modal", target: "#my-modal-signup"}} ユーザー登録
              %li
                %a.more__list__text{data: {toggle: "modal", target: "#my-modal-login"}} ユーザーログイン

.modal#my-modal-login
  .modal-dialog
    .login.my-modal-view
      %h2.login__title ユーザーログイン
      %a.login__link{data: {toggle: "modal", target: "#my-modal-signup", dismiss:"modal"}} 新規会員登録はこちら  >
      = render partial: "devise/shared/login_new"

.modal#my-modal-signup
  .modal-dialog
    .login.my-modal-view
      %h2.login__title ユーザー登録
      %a.login__link{data: {toggle: "modal", target: "#my-modal-login", dismiss:"modal"}} ログインはこちら >
      %p.login__copy ＼約1分で登録でき、Makuakeを楽しめます!／
      = render partial: "devise/shared/signup_new"

.modal#my-modal-login-planner
  .modal-dialog
    .login.my-modal-view
      %h2.login__title 企画者ログイン
      %a.login__link{data: {toggle: "modal", target: "#my-modal-signup-planner", dismiss:"modal"}} 新規企画者登録はこちら  >
      %p.login__copy ＼企画を投稿するには、企画者情報の登録が必要です!／
      = render partial: "planners/shared/login_new"

.modal#my-modal-signup-planner
  .modal-dialog
    .login.my-modal-view
      %h2.login__title 企画者登録
      %a.login__link{data: {toggle: "modal", target: "#my-modal-login-planner", dismiss:"modal"}} 企画者ログインはこちら >
      %p.login__copy ＼企画を投稿するには、企画者情報の登録が必要です!／
      = render partial: "planners/shared/signup_new"


















