.new
  .new__title 
    = image_tag("new.gif", class: "new__title-image", size: "32x32")
    .new__title-name 最近始まったプロジェクト
  .new__area
    = link_to "", class: "new__area__top" do
      = image_tag("images.jpg", class: "new__area__image", size: "230x129")
      %h2.new__area-text 今年で10周年を迎える、ももクロちゃん達を全力で応援しよう！
  .new__area
    = link_to "", class: "new__area__top" do
      = image_tag("images.jpg", class: "new__area__image", size: "230x129")
      %h2.new__area-text 今年で10周年を迎える、ももクロちゃん達を全力で応援しよう！
  .new__area
    = link_to "", class: "new__area__top" do
      = image_tag("images.jpg", class: "new__area__image", size: "230x129")
      %h2.new__area-text 今年で10周年を迎える、ももクロちゃん達を全力で応援しよう！
  .new__area
    = link_to "", class: "new__area__top" do
      = image_tag("images.jpg", class: "new__area__image", size: "230x129")
      %h2.new__area-text 今年で10周年を迎える、ももクロちゃん達を全力で応援しよう！
  .new__area
    = link_to "", class: "new__area__top" do
      = image_tag("images.jpg", class: "new__area__image", size: "230x129")
      %h2.new__area-text 今年で10周年を迎える、ももクロちゃん達を全力で応援しよう！
  .new__area
    = link_to "", class: "new__area__top" do
      = image_tag("images.jpg", class: "new__area__image", size: "230x129")
      %h2.new__area-text 今年で10周年を迎える、ももクロちゃん達を全力で応援しよう！
  .new__area
    = link_to "", class: "new__area__top" do
      = image_tag("images.jpg", class: "new__area__image", size: "230x129")
      %h2.new__area-text 今年で10周年を迎える、ももクロちゃん達を全力で応援しよう！
  .new__area
    = link_to "", class: "new__area__top" do
      = image_tag("images.jpg", class: "new__area__image", size: "230x129")
      %h2.new__area-text 今年で10周年を迎える、ももクロちゃん達を全力で応援しよう！
  .ditail
    = link_to "more >", "https://www.makuake.com", class: "ditail__botton"
