.recommend
  - @projects.each do |project|
    .recommend__area
      = link_to "/projects/#{project.id}", class: "recommend__top" do
        = image_tag("#{project.main_image}", class: "recommend__top-image", size: "310x170")
        %h2.recommend__top-text #{project.main_title}
      .recommend__planner
        = link_to "", class: "recommend__planner-link" do
          = image_tag("icon_yellow.png", class: "recommend__planner-link-image", size: "36x36")
          .recommend__planner-link-name T1project 若松大輔
        = link_to "", class: "recommend__planner-genre" do
          = image_tag("pencil.gif", class: "recommend__planner-genre-image", size: "24x24")
          .recommend__planner-genre-name アイドル 世界のももクロ
      .recommend__money
        %dl
          %dt.money
            = image_tag("yen.gif", class: "money__image", size: "25x25")
            .money__title 集まっている金額
          %dd.money__sum 1,222,999円
        .money__gage
          .money__gage__in{style: "width:65%" }
            .money__gage__in__percent 65%
        %dl
          %dt.money__supporter
            = image_tag("people.gif", class: "money__supporter-image", size: "24x24")
            .money__supporter-name サポーター
          %dd.money__supporter-count 1345人
        %dl
          %dt.money__limit
            = image_tag("clock-small.gif", class: "money__limit-image", size: "24x24")
            .money__limit-title 残り
          %dd.money__limit-days 23日
  .ditail
    = link_to "more >", "https://www.makuake.com", class: "ditail__botton"
