.store
  .store__copy
    = image_tag("store.png", class: "store__copy-image")
    %h2.store__copy-text Makuake成功プロジェクトのアイテムをお届け！
  .store__area
    = link_to "", class: "store__area__top" do
      = image_tag("images2.jpg", class: "store__area__image", size: "310x183")
    %h3.store__area-title 【初回限定盤】ザ・ゴールデン・ヒストリー【初回限定盤】ザ・ゴールデン・ヒストリー
    .store__area__box
      %p.store__area__box-price
        ¥2,000
        %span.store__area__box-price-tax
          (税込)
      %p.store__area__box-remaining
        残り9個
  .store__area
    = link_to "", class: "store__area__top" do
      = image_tag("images2.jpg", class: "store__area__image", size: "310x183")
    %h3.store__area-title 【初回限定盤】ザ・ゴールデン・ヒストリー【初回限定盤】ザ・ゴールデン・ヒストリー
    .store__area__box
      %p.store__area__box-price
        ¥2,000
        %span.store__area__box-price-tax
          (税込)
      %p.store__area__box-remaining
        残り9個
  .store__area
    = link_to "", class: "store__area__top" do
      = image_tag("images2.jpg", class: "store__area__image", size: "310x183")
    %h3.store__area-title 【初回限定盤】ザ・ゴールデン・ヒストリー【初回限定盤】ザ・ゴールデン・ヒストリー
    .store__area__box
      %p.store__area__box-price
        ¥2,000
        %span.store__area__box-price-tax
          (税込)
      %p.store__area__box-remaining
        残り9個
  .store__area
    = link_to "", class: "store__area__top" do
      = image_tag("images2.jpg", class: "store__area__image", size: "310x183")
    %h3.store__area-title 【初回限定盤】ザ・ゴールデン・ヒストリー【初回限定盤】ザ・ゴールデン・ヒストリー
    .store__area__box
      %p.store__area__box-price
        ¥2,000
        %span.store__area__box-price-tax
          (税込)
      %p.store__area__box-remaining
        残り9個
  .store__area
    = link_to "", class: "store__area__top" do
      = image_tag("images2.jpg", class: "store__area__image", size: "310x183")
    %h3.store__area-title 【初回限定盤】ザ・ゴールデン・ヒストリー【初回限定盤】ザ・ゴールデン・ヒストリー
    .store__area__box
      %p.store__area__box-price
        ¥2,000
        %span.store__area__box-price-tax
          (税込)
      %p.store__area__box-remaining
        残り9個
  .store__area
    = link_to "", class: "store__area__top" do
      = image_tag("images2.jpg", class: "store__area__image", size: "310x183")
    %h3.store__area-title 【初回限定盤】ザ・ゴールデン・ヒストリー【初回限定盤】ザ・ゴールデン・ヒストリー
    .store__area__box
      %p.store__area__box-price
        ¥2,000
        %span.store__area__box-price-tax
          (税込)
      %p.store__area__box-remaining
        残り9個
