/ ランキング
.ranking
  .ranking__title 
    = image_tag("ranking.png", class: "ranking__title-image", size: "36x24")
    .ranking__title-name 急上昇ランキング
  .ranking__area
    = link_to "", class: "ranking__area__top" do
      = image_tag("images3.jpg", class: "ranking__area__image", size: "188x106")
    %h3.ranking__area-title 【特割21％OFF！】スマホハンガー 1個
    %p.ranking__area-body 第３弾！出し入れ簡単！スマホ収納外付けレザーポケット「スマホハンガー」
  .ranking__area
    = link_to "", class: "ranking__area__top" do
      = image_tag("images3.jpg", class: "ranking__area__image", size: "188x106")
    %h3.ranking__area-title 【特割21％OFF！】スマホハンガー 1個
    %p.ranking__area-body 第３弾！出し入れ簡単！スマホ収納外付けレザーポケット「スマホハンガー」
  .ranking__area
    = link_to "", class: "ranking__area__top" do
      = image_tag("images3.jpg", class: "ranking__area__image", size: "188x106")
    %h3.ranking__area-title 【特割21％OFF！】スマホハンガー 1個
    %p.ranking__area-body 第３弾！出し入れ簡単！スマホ収納外付けレザーポケット「スマホハンガー」
  .ranking__area
    = link_to "", class: "ranking__area__top" do
      = image_tag("images3.jpg", class: "ranking__area__image", size: "188x106")
    %h3.ranking__area-title 【特割21％OFF！】スマホハンガー 1個
    %p.ranking__area-body 第３弾！出し入れ簡単！スマホ収納外付けレザーポケット「スマホハンガー」
  .ranking__area
    = link_to "", class: "ranking__area__top" do
      = image_tag("images3.jpg", class: "ranking__area__image", size: "188x106")
    %h3.ranking__area-title 【特割21％OFF！】スマホハンガー 1個
    %p.ranking__area-body 第３弾！出し入れ簡単！スマホ収納外付けレザーポケット「スマホハンガー」

/  ストア
.store
  .store__copy
    = image_tag("store.png", class: "store__copy-image")
  %h2.store__text Makuake成功プロジェクトのアイテムをお届け！
  .store__area
    = link_to "", class: "store__area__top" do
      = image_tag("images2.jpg", class: "store__area__image", size: "310x183")
    %h3.store__area-title 【初回限定盤】ザ・ゴールデン・ヒストリー【初回限定盤】ザ・ゴールデン・ヒストリー
    .store__area__box
      %p.store__area__box-price
        ¥2,000
        %span.store__area__box-price-tax
          (税込)
      %p.store__area__box-remaining
        残り9個
  .store__area
    = link_to "", class: "store__area__top" do
      = image_tag("images2.jpg", class: "store__area__image", size: "310x183")
    %h3.store__area-title 【初回限定盤】ザ・ゴールデン・ヒストリー【初回限定盤】ザ・ゴールデン・ヒストリー
    .store__area__box
      %p.store__area__box-price
        ¥2,000
        %span.store__area__box-price-tax
          (税込)
      %p.store__area__box-remaining
        残り9個
  .store__area
    = link_to "", class: "store__area__top" do
      = image_tag("images2.jpg", class: "store__area__image", size: "310x183")
    %h3.store__area-title 【初回限定盤】ザ・ゴールデン・ヒストリー【初回限定盤】ザ・ゴールデン・ヒストリー
    .store__area__box
      %p.store__area__box-price
        ¥2,000
        %span.store__area__box-price-tax
          (税込)
      %p.store__area__box-remaining
        残り9個
  .store__area
    = link_to "", class: "store__area__top" do
      = image_tag("images2.jpg", class: "store__area__image", size: "310x183")
    %h3.store__area-title 【初回限定盤】ザ・ゴールデン・ヒストリー【初回限定盤】ザ・ゴールデン・ヒストリー
    .store__area__box
      %p.store__area__box-price
        ¥2,000
        %span.store__area__box-price-tax
          (税込)
      %p.store__area__box-remaining
        残り9個
  .store__area
    = link_to "", class: "store__area__top" do
      = image_tag("images2.jpg", class: "store__area__image", size: "310x183")
    %h3.store__area-title 【初回限定盤】ザ・ゴールデン・ヒストリー【初回限定盤】ザ・ゴールデン・ヒストリー
    .store__area__box
      %p.store__area__box-price
        ¥2,000
        %span.store__area__box-price-tax
          (税込)
      %p.store__area__box-remaining
        残り9個
  .store__area
    = link_to "", class: "store__area__top" do
      = image_tag("images2.jpg", class: "store__area__image", size: "310x183")
    %h3.store__area-title 【初回限定盤】ザ・ゴールデン・ヒストリー【初回限定盤】ザ・ゴールデン・ヒストリー
    .store__area__box
      %p.store__area__box-price
        ¥2,000
        %span.store__area__box-price-tax
          (税込)
      %p.store__area__box-remaining
        残り9個
  .ditail
    = link_to "more >", "", class: "ditail__botton"

/  Makuakeコンテンツ
.makuake
  .makuake__title
    = image_tag("content.png", class: "makuake__title-image", size: "30x22")
    .makuake__title-name Makuakeコンテンツ
  .makuake__area
    = link_to "", class: "makuake__area__link" do
      = image_tag("images4.jpg", class: "makuake__area__link-image", size: "316x163")
    %h2.makuake__area__link-text 「glafitバイク」が国内最高記録を樹立1

  .makuake__area
    = link_to "", class: "makuake__area__link" do
      = image_tag("images4.jpg", class: "makuake__area__link-image", size: "316x163")
    %h2.makuake__area__link-text 「glafitバイク」が国内最高記録を樹立2

  .makuake__area
    = link_to "", class: "makuake__area__link" do
      = image_tag("images4.jpg", class: "makuake__area__link-image", size: "316x163")
    %h2.makuake__area__link-text 「glafitバイク」が国内最高記録を樹立3

/ 支援金ランキング
.ranking
  .ranking__title 
    = image_tag("ranking.png", class: "ranking__title-image", size: "36x24")
    .ranking__title-name 支援金ランキング

  .ranking__area
    = link_to "", class: "ranking__area__top" do
      = image_tag("images3.jpg", class: "ranking__area__image", size: "188x106")
    %h3.ranking__area-money 1,220,333円
    %p.ranking__detail 第３弾！出し入れ簡単！スマホ収納外付けレザーポケット「スマホハンガー」

  .ranking__area
    = link_to "", class: "ranking__area__top" do
      = image_tag("images3.jpg", class: "ranking__area__image", size: "188x106")
    %h3.ranking__area-money 1,220,333円
    %p.ranking__detail 第３弾！出し入れ簡単！スマホ収納外付けレザーポケット「スマホハンガー」

  .ranking__area
    = link_to "", class: "ranking__area__top" do
      = image_tag("images3.jpg", class: "ranking__area__image", size: "188x106")
    %h3.ranking__area-money 1,220,333円
    %p.ranking__detail 第３弾！出し入れ簡単！スマホ収納外付けレザーポケット「スマホハンガー」

  .ranking__area
    = link_to "", class: "ranking__area__top" do
      = image_tag("images3.jpg", class: "ranking__area__image", size: "188x106")
    %h3.ranking__area-money 1,220,333円
    %p.ranking__detail 第３弾！出し入れ簡単！スマホ収納外付けレザーポケット「スマホハンガー」

  .ranking__area
    = link_to "", class: "ranking__area__top" do
      = image_tag("images3.jpg", class: "ranking__area__image", size: "188x106")
    %h3.ranking__area-money 1,220,333円
    %p.ranking__detail 第３弾！出し入れ簡単！スマホ収納外付けレザーポケット「スマホハンガー」

  .div.ditail.botton__margin
    = link_to "more >", "", class: "ditail__botton"

/ Report
.makuake__note
  .report
    .report__title
      = image_tag("report.gif", class: "report__title-image")
      .report__title-name 最近の活動レポート
    .report__area
      = link_to "", class: "report__area__top" do
        = image_tag("images3.jpg", class: "report__area__image", size: "144x81")
      = link_to "振って光のメッセージを届ける。マルチ機能のスマートLEDライト「MSTICK 」", "", class: "report__area-title"
      = link_to "8時間前", "", class: "report__area-time"
      = link_to "8第３弾！出し入れ簡単！スマホ収納外付けレザーポケット「スマホハンガー」", "", class: "report__area-body"

    .report__area
      = link_to "", class: "report__area__top" do
        = image_tag("images3.jpg", class: "report__area__image", size: "144x81")
      = link_to "振って光のメッセージを届ける。マルチ機能のスマートLEDライト「MSTICK 」", "", class: "report__area-title"
      = link_to "8時間前", "", class: "report__area-time"
      = link_to "8第３弾！出し入れ簡単！スマホ収納外付けレザーポケット「スマホハンガー」", "", class: "report__area-body"

    .report__area
      = link_to "", class: "report__area__top" do
        = image_tag("images3.jpg", class: "report__area__image", size: "144x81")
      = link_to "振って光のメッセージを届ける。マルチ機能のスマートLEDライト「MSTICK 」", "", class: "report__area-title"
      = link_to "8時間前", "", class: "report__area-time"
      = link_to "8第３弾！出し入れ簡単！スマホ収納外付けレザーポケット「スマホハンガー」", "", class: "report__area-body"

    .div.ditail__small
      = link_to "more >", "", class: "ditail__small-botton"

  .report
    .report__title 
      = image_tag("note.png", class: "report__title-image note__image")
      .report__title-name 最近のMAKUAKE NOTE
    .report__area
      = link_to "", class: "report__area__top" do
        = image_tag("images3.jpg", class: "report__area__image", size: "144x81")
      = link_to "振って光のメッセージを届ける。マルチ機能のスマートLEDライト「MSTICK 」", "", class: "report__area-title"
      = link_to "8時間前", "", class: "report__area-time"
      = link_to "8第３弾！出し入れ簡単！スマホ収納外付けレザーポケット「スマホハンガー」", "", class: "report__area-body"

    .report__area
      = link_to "", class: "report__area__top" do
        = image_tag("images3.jpg", class: "report__area__image", size: "144x81")
      = link_to "振って光のメッセージを届ける。マルチ機能のスマートLEDライト「MSTICK 」", "", class: "report__area-title"
      = link_to "8時間前", "", class: "report__area-time"
      = link_to "8第３弾！出し入れ簡単！スマホ収納外付けレザーポケット「スマホハンガー」", "", class: "report__area-body"

    .report__area
      = link_to "", class: "report__area__top" do
        = image_tag("images3.jpg", class: "report__area__image", size: "144x81")
      = link_to "振って光のメッセージを届ける。マルチ機能のスマートLEDライト「MSTICK 」", "", class: "report__area-title"
      = link_to "8時間前", "", class: "report__area-time"
      = link_to "8第３弾！出し入れ簡単！スマホ収納外付けレザーポケット「スマホハンガー」", "", class: "report__area-body"

    .div.ditail__small
      = link_to "more >", "", class: "ditail__small-botton"

/ Bottom Copy
%h2.bottom__copy クラウドファンディングサイトMakuakeの特徴
%p.bottom__copy-text Makuakeでクラウドファンディングを実施するプロジェクト実行者は、掲載した自らのプロジェクトに賛同してくれたサポーター（資金提供者）に対してそれぞれが提供してくれた資金額に従いプレミアムなモノやサービスをお返しします。掲載されたプロジェクトはサイバーエージェントグループが運営する4000万人の会員数を誇るAmebaや、その他のメディアからの集客を行うことでより多くのネットユーザーにプロジェクトのアイデアを知ってもらうことができます。同時に、スマートフォンユーザー向けに最適化されたページ表示にも対応しており、決済手段に関してもクレジットカード・ペイジー(銀行振込)・ネットバンク振込・コンビニ払いを用意することでスムーズな支援が可能なサービスとなっております。
