.ranking
  .ranking__title 
    = image_tag("ranking.png", class: "ranking__title-image", size: "36x24")
    .ranking__title-name 支援金ランキング

  .ranking__area
    = link_to "", class: "ranking__area__top" do
      = image_tag("images3.jpg", class: "ranking__area__image", size: "188x106")
    %h3.ranking__area-money 1,220,333円
    %p.ranking__detail 第３弾！出し入れ簡単！スマホ収納外付けレザーポケット「スマホハンガー」

  .ranking__area
    = link_to "", class: "ranking__area__top" do
      = image_tag("images3.jpg", class: "ranking__area__image", size: "188x106")
    %h3.ranking__area-money 1,220,333円
    %p.ranking__detail 第３弾！出し入れ簡単！スマホ収納外付けレザーポケット「スマホハンガー」

  .ranking__area
    = link_to "", class: "ranking__area__top" do
      = image_tag("images3.jpg", class: "ranking__area__image", size: "188x106")
    %h3.ranking__area-money 1,220,333円
    %p.ranking__detail 第３弾！出し入れ簡単！スマホ収納外付けレザーポケット「スマホハンガー」

  .ranking__area
    = link_to "", class: "ranking__area__top" do
      = image_tag("images3.jpg", class: "ranking__area__image", size: "188x106")
    %h3.ranking__area-money 1,220,333円
    %p.ranking__detail 第３弾！出し入れ簡単！スマホ収納外付けレザーポケット「スマホハンガー」

  .ranking__area
    = link_to "", class: "ranking__area__top" do
      = image_tag("images3.jpg", class: "ranking__area__image", size: "188x106")
    %h3.ranking__area-money 1,220,333円
    %p.ranking__detail 第３弾！出し入れ簡単！スマホ収納外付けレザーポケット「スマホハンガー」

  .div.ditail.botton__margin
    = link_to "more >", "https://www.makuake.com", class: "ditail__botton"
