.ranking
  .ranking__title 
    = image_tag("ranking.png", class: "ranking__title-image", size: "36x24")
    .ranking__title-name 急上昇ランキング
  .ranking__area
    = link_to "", class: "ranking__area__top" do
      = image_tag("images3.jpg", class: "ranking__area__image", size: "188x106")
    %h3.ranking__area-title 【特割21％OFF！】スマホハンガー 1個
    %p.ranking__area-body 第３弾！出し入れ簡単！スマホ収納外付けレザーポケット「スマホハンガー」
  .ranking__area
    = link_to "", class: "ranking__area__top" do
      = image_tag("images3.jpg", class: "ranking__area__image", size: "188x106")
    %h3.ranking__area-title 【特割21％OFF！】スマホハンガー 1個
    %p.ranking__area-body 第３弾！出し入れ簡単！スマホ収納外付けレザーポケット「スマホハンガー」
  .ranking__area
    = link_to "", class: "ranking__area__top" do
      = image_tag("images3.jpg", class: "ranking__area__image", size: "188x106")
    %h3.ranking__area-title 【特割21％OFF！】スマホハンガー 1個
    %p.ranking__area-body 第３弾！出し入れ簡単！スマホ収納外付けレザーポケット「スマホハンガー」
  .ranking__area
    = link_to "", class: "ranking__area__top" do
      = image_tag("images3.jpg", class: "ranking__area__image", size: "188x106")
    %h3.ranking__area-title 【特割21％OFF！】スマホハンガー 1個
    %p.ranking__area-body 第３弾！出し入れ簡単！スマホ収納外付けレザーポケット「スマホハンガー」
  .ranking__area
    = link_to "", class: "ranking__area__top" do
      = image_tag("images3.jpg", class: "ranking__area__image", size: "188x106")
    %h3.ranking__area-title 【特割21％OFF！】スマホハンガー 1個
    %p.ranking__area-body 第３弾！出し入れ簡単！スマホ収納外付けレザーポケット「スマホハンガー」
