/ おすすめプロジェクト一覧
.recommend
  - @projects.each do |project|
    .recommend__area
      = link_to "/projects/#{project.id}", class: "recommend__top" do
        - if project.clear_rate.round(0) >= 100
          = image_tag("success.png", class: "recommend__top-success")
        = image_tag("#{project.main_image}", class: "recommend__top-image", size: "310x170")
        - if (project.created_at.since(3.days)) >= Date.today
          .recommend__top__new New!
        %h2.recommend__top-text #{project.main_title}
      .recommend__planner
        = link_to introduction_planner_path(project.id), class: "recommend__planner-link" do
          - if project.planner.image == nil
            = image_tag("icon_yellow.png", class: "recommend__planner-link-image", size: "36x36")
          - else
            = image_tag("#{project.planner.image}", class: "recommend__planner-link-image", size: "36x36")
          .recommend__planner-link-name #{project.planner.name}
        = link_to "", class: "recommend__planner-genre" do
          = image_tag("pencil.gif", class: "recommend__planner-genre-image", size: "24x24")
          .recommend__planner-genre-name 料理 エンタメ
      .recommend__money
        .box__money
          %dl
            %dt.money
              = image_tag("yen.gif", class: "money__image", size: "25x25")
              .money__title 集まっている金額
            %dd.money__sum #{project.sum_price.to_s(:delimited)}円
        .box__gage
          .money__gage
            - if project.clear_rate.round(0) > 100
              .money__gage__in{style: "width:100%" }
                .money__gage__in__percent #{project.clear_rate.round(0)}%
            - else
              .money__gage__in{style: "width:#{project.clear_rate.round(0)}%" }
                .money__gage__in__percent #{project.clear_rate.round(0)}%
        .box__limit
          .box__limit-in
            %dl
              %dt.money__supporter
                = image_tag("people.gif", class: "money__supporter-image", size: "24x24")
                .money__supporter-name サポーター
              %dd.money__supporter-count #{project.investments.map{|investment|(investment.supporters.count)}.sum}人
          .box__limit-in
            %dl
              %dt.money__limit
                = image_tag("clock-small.gif", class: "money__limit-image", size: "24x24")
                .money__limit-title 残り
                - if ((project.end_date - Date.today).to_i) <= 0
                  %dd.money__limit-days 終了
                - else
                  %dd.money__limit-days #{(project.end_date - Date.today).to_i}日
  .ditail
    = link_to "more >", list_projects_path, class: "ditail__botton"

/ 最近始まったプロジェクト
.new
  .new__title 
    = image_tag("new.gif", class: "new__title-image", size: "32x32")
    .new__title-name 最近始まったプロジェクト
  - @new_projects.each do |project|
    .new__area
      = link_to "/projects/#{project.id}", class: "new__area__top" do
        = image_tag("#{project.main_image}", class: "new__area__image", size: "230x129")
        %h2.new__area-text #{project.main_title}
  .ditail
    = link_to "more >", "https://www.makuake.com", class: "ditail__botton"
