.makuake
  .makuake__title
    = image_tag("content.png", class: "makuake__title-image", size: "30x22")
    .makuake__title-name Makuakeコンテンツ
  .makuake__area
    = link_to "", class: "makuake__area__link" do
      = image_tag("images4.jpg", class: "makuake__area__link-image", size: "316x163")
    %h2.makuake__area__link-text 「glafitバイク」が国内最高記録を樹立1

  .makuake__area
    = link_to "", class: "makuake__area__link" do
      = image_tag("images4.jpg", class: "makuake__area__link-image", size: "316x163")
    %h2.makuake__area__link-text 「glafitバイク」が国内最高記録を樹立2

  .makuake__area
    = link_to "", class: "makuake__area__link" do
      = image_tag("images4.jpg", class: "makuake__area__link-image", size: "316x163")
    %h2.makuake__area__link-text 「glafitバイク」が国内最高記録を樹立3
