= render partial: "header"
.main
  #carousel-example.carousel.slide{data: {ride: "carousel"}}
    .main__under-bar 
      %ol.carousel-indicators
        = link_to "", class: "content__box" do
          .content__box-background
          %img.content__box-image{src: "assets/5.jpg", data: {target: "#carousel-example",slide_to: "0"}}
          .content__box-background
        = link_to "", class: "content__box" do
          .content__box-background
          %img.content__box-image{src: "assets/2.jpg", data: {target: "#carousel-example",slide_to: "1"}}
        = link_to "", class: "content__box" do
          .content__box-background
          %img.content__box-image{src: "assets/3.jpg", data: {target: "#carousel-example",slide_to: "2"}}
        = link_to "", class: "content__box" do
          .content__box-background
          %img.content__box-image{src: "assets/4.jpg", data: {target: "#carousel-example",slide_to: "3"}}
        = link_to "", class: "content__box" do
          .content__box-background
          %img.content__box-image{src: "assets/1.jpg", data: {target: "#carousel-example",slide_to: "4"}}
        = link_to "", class: "content__box" do
          .content__box-background
          %img.content__box-image{src: "assets/5.jpg", data: {target: "#carousel-example",slide_to: "5"}}
        = link_to "", class: "content__box" do
          .content__box-background
          %img.content__box-image{src: "assets/2.jpg", data: {target: "#carousel-example",slide_to: "6"}}
        = link_to "", class: "content__box" do
          .content__box-background
          %img.content__box-image{src: "assets/3.jpg", data: {target: "#carousel-example",slide_to: "7"}}
    .carousel-inner
      .item.active
        = image_tag("5.jpg", class: "full__width")
      .item
        = image_tag("2.jpg", class: "full__width")
      .item
        = image_tag("3.jpg", class: "full__width")
      .item
        = image_tag("4.jpg", class: "full__width")
      .item
        = image_tag("1.jpg", class: "full__width")
      .item
        = image_tag("5.jpg", class: "full__width")
      .item
        = image_tag("2.jpg", class: "full__width")
      .item
        = image_tag("3.jpg", class: "full__width")
  .contents
    .catch-copy
      %h1.catch-copy-top 新たなチャレンジを応援しよう。
      %h2.catch-copy-bottom 世の中を良くする新しいチャレンジが毎日続々と登場。
    = render partial: "index_recommend"
    = render partial: "index_ranking"
= render partial: "footer"
