= render partial: "header"
.main
  .full__width
  .contents
    .catch-copy
      %h1.catch-copy-top 新たなチャレンジを応援しよう。
      %h2.catch-copy-bottom 世の中を良くする新しいチャレンジが毎日続々と登場。
    .recommend
      .recommend__area
        = link_to "", class: "recommend__top" do
          = image_tag("images.jpg", class: "recommend__top-image", size: "310x170")
          %h2.recommend__top-text 今年で10周年を迎える、ももクロちゃん達を全力で応援しよう！
        .recommend__planner
          = link_to "", class: "recommend__planner-link" do
            = image_tag("icon_yellow.png", class: "recommend__planner-link-image", size: "36x36")
            .recommend__planner-link-name T1project 若松大輔
          = link_to "", class: "recommend__planner-genre" do
            = image_tag("pencil.gif", class: "recommend__planner-genre-image", size: "24x24")
            .recommend__planner-genre-name アイドル 世界のももクロ
        .recommend__money
          %dl
            %dt.money
              = image_tag("yen.gif", class: "money__image", size: "25x25")
              .money__title 集まっている金額
            %dd.money__sum 1,222,999円
          .money__gage
            .money__gage__in{style: "width:65%" }
              .money__gage__in__percent 65%
          %dl
            %dt.money__supporter
              = image_tag("people.gif", class: "money__supporter-image", size: "24x24")
              .money__supporter-name サポーター
            %dd.money__supporter-count 1345人
          %dl
            %dt.money__limit
              = image_tag("clock-small.gif", class: "money__limit-image", size: "24x24")
              .money__limit-title 残り
            %dd.money__limit-days 23日


      .recommend__area
        = link_to "", class: "recommend__top" do
          = image_tag("images.jpg", class: "recommend__top-image", size: "310x170")
          %h2.recommend__top-text 今年で10周年を迎える、ももクロちゃん達を全力で応援しよう！
        .recommend__planner
          = link_to "", class: "recommend__planner-link" do
            = image_tag("icon_yellow.png", class: "recommend__planner-link-image", size: "36x36")
            .recommend__planner-link-name T1project 若松大輔
          = link_to "", class: "recommend__planner-genre" do
            = image_tag("pencil.gif", class: "recommend__planner-genre-image", size: "24x24")
            .recommend__planner-genre-name アイドル 世界のももクロ
        .recommend__money
          %dl
            %dt.money
              = image_tag("yen.gif", class: "money__image", size: "25x25")
              .money__title 集まっている金額
            %dd.money__sum 1,222,999円
          .money__gage
            .money__gage__in{style: "width:65%" }
              .money__gage__in__percent 65%
          %dl
            %dt.money__supporter
              = image_tag("people.gif", class: "money__supporter-image", size: "24x24")
              .money__supporter-name サポーター
            %dd.money__supporter-count 1345人
          %dl
            %dt.money__limit
              = image_tag("clock-small.gif", class: "money__limit-image", size: "24x24")
              .money__limit-title 残り
            %dd.money__limit-days 23日
      .recommend__area
        = link_to "", class: "recommend__top" do
          = image_tag("images.jpg", class: "recommend__top-image", size: "310x170")
          %h2.recommend__top-text 今年で10周年を迎える、ももクロちゃん達を全力で応援しよう！
        .recommend__planner
          = link_to "", class: "recommend__planner-link" do
            = image_tag("icon_yellow.png", class: "recommend__planner-link-image", size: "36x36")
            .recommend__planner-link-name T1project 若松大輔
          = link_to "", class: "recommend__planner-genre" do
            = image_tag("pencil.gif", class: "recommend__planner-genre-image", size: "24x24")
            .recommend__planner-genre-name アイドル 世界のももクロ
        .recommend__money
          %dl
            %dt.money
              = image_tag("yen.gif", class: "money__image", size: "25x25")
              .money__title 集まっている金額
            %dd.money__sum 1,222,999円
          .money__gage
            .money__gage__in{style: "width:65%" }
              .money__gage__in__percent 65%
          %dl
            %dt.money__supporter
              = image_tag("people.gif", class: "money__supporter-image", size: "24x24")
              .money__supporter-name サポーター
            %dd.money__supporter-count 1345人
          %dl
            %dt.money__limit
              = image_tag("clock-small.gif", class: "money__limit-image", size: "24x24")
              .money__limit-title 残り
            %dd.money__limit-days 23日
      .recommend__area
        = link_to "", class: "recommend__top" do
          = image_tag("images.jpg", class: "recommend__top-image", size: "310x170")
          %h2.recommend__top-text 今年で10周年を迎える、ももクロちゃん達を全力で応援しよう！
        .recommend__planner
          = link_to "", class: "recommend__planner-link" do
            = image_tag("icon_yellow.png", class: "recommend__planner-link-image", size: "36x36")
            .recommend__planner-link-name T1project 若松大輔
          = link_to "", class: "recommend__planner-genre" do
            = image_tag("pencil.gif", class: "recommend__planner-genre-image", size: "24x24")
            .recommend__planner-genre-name アイドル 世界のももクロ
        .recommend__money
          %dl
            %dt.money
              = image_tag("yen.gif", class: "money__image", size: "25x25")
              .money__title 集まっている金額
            %dd.money__sum 1,222,999円
          .money__gage
            .money__gage__in{style: "width:65%" }
              .money__gage__in__percent 65%
          %dl
            %dt.money__supporter
              = image_tag("people.gif", class: "money__supporter-image", size: "24x24")
              .money__supporter-name サポーター
            %dd.money__supporter-count 1345人
          %dl
            %dt.money__limit
              = image_tag("clock-small.gif", class: "money__limit-image", size: "24x24")
              .money__limit-title 残り
            %dd.money__limit-days 23日
      .recommend__area
        = link_to "", class: "recommend__top" do
          = image_tag("images.jpg", class: "recommend__top-image", size: "310x170")
          %h2.recommend__top-text 今年で10周年を迎える、ももクロちゃん達を全力で応援しよう！
        .recommend__planner
          = link_to "", class: "recommend__planner-link" do
            = image_tag("icon_yellow.png", class: "recommend__planner-link-image", size: "36x36")
            .recommend__planner-link-name T1project 若松大輔
          = link_to "", class: "recommend__planner-genre" do
            = image_tag("pencil.gif", class: "recommend__planner-genre-image", size: "24x24")
            .recommend__planner-genre-name アイドル 世界のももクロ
        .recommend__money
          %dl
            %dt.money
              = image_tag("yen.gif", class: "money__image", size: "25x25")
              .money__title 集まっている金額
            %dd.money__sum 1,222,999円
          .money__gage
            .money__gage__in{style: "width:65%" }
              .money__gage__in__percent 65%
          %dl
            %dt.money__supporter
              = image_tag("people.gif", class: "money__supporter-image", size: "24x24")
              .money__supporter-name サポーター
            %dd.money__supporter-count 1345人
          %dl
            %dt.money__limit
              = image_tag("clock-small.gif", class: "money__limit-image", size: "24x24")
              .money__limit-title 残り
            %dd.money__limit-days 23日
      .recommend__area
        = link_to "", class: "recommend__top" do
          = image_tag("images.jpg", class: "recommend__top-image", size: "310x170")
          %h2.recommend__top-text 今年で10周年を迎える、ももクロちゃん達を全力で応援しよう！
        .recommend__planner
          = link_to "", class: "recommend__planner-link" do
            = image_tag("icon_yellow.png", class: "recommend__planner-link-image", size: "36x36")
            .recommend__planner-link-name T1project 若松大輔
          = link_to "", class: "recommend__planner-genre" do
            = image_tag("pencil.gif", class: "recommend__planner-genre-image", size: "24x24")
            .recommend__planner-genre-name アイドル 世界のももクロ
        .recommend__money
          %dl
            %dt.money
              = image_tag("yen.gif", class: "money__image", size: "25x25")
              .money__title 集まっている金額
            %dd.money__sum 1,222,999円
          .money__gage
            .money__gage__in{style: "width:65%" }
              .money__gage__in__percent 65%
          %dl
            %dt.money__supporter
              = image_tag("people.gif", class: "money__supporter-image", size: "24x24")
              .money__supporter-name サポーター
            %dd.money__supporter-count 1345人
          %dl
            %dt.money__limit
              = image_tag("clock-small.gif", class: "money__limit-image", size: "24x24")
              .money__limit-title 残り
            %dd.money__limit-days 23日
      .recommend__area
        = link_to "", class: "recommend__top" do
          = image_tag("images.jpg", class: "recommend__top-image", size: "310x170")
          %h2.recommend__top-text 今年で10周年を迎える、ももクロちゃん達を全力で応援しよう！
        .recommend__planner
          = link_to "", class: "recommend__planner-link" do
            = image_tag("icon_yellow.png", class: "recommend__planner-link-image", size: "36x36")
            .recommend__planner-link-name T1project 若松大輔
          = link_to "", class: "recommend__planner-genre" do
            = image_tag("pencil.gif", class: "recommend__planner-genre-image", size: "24x24")
            .recommend__planner-genre-name アイドル 世界のももクロ
        .recommend__money
          %dl
            %dt.money
              = image_tag("yen.gif", class: "money__image", size: "25x25")
              .money__title 集まっている金額
            %dd.money__sum 1,222,999円
          .money__gage
            .money__gage__in{style: "width:65%" }
              .money__gage__in__percent 65%
          %dl
            %dt.money__supporter
              = image_tag("people.gif", class: "money__supporter-image", size: "24x24")
              .money__supporter-name サポーター
            %dd.money__supporter-count 1345人
          %dl
            %dt.money__limit
              = image_tag("clock-small.gif", class: "money__limit-image", size: "24x24")
              .money__limit-title 残り
            %dd.money__limit-days 23日
      .recommend__area
        = link_to "", class: "recommend__top" do
          = image_tag("images.jpg", class: "recommend__top-image", size: "310x170")
          %h2.recommend__top-text 今年で10周年を迎える、ももクロちゃん達を全力で応援しよう！
        .recommend__planner
          = link_to "", class: "recommend__planner-link" do
            = image_tag("icon_yellow.png", class: "recommend__planner-link-image", size: "36x36")
            .recommend__planner-link-name T1project 若松大輔
          = link_to "", class: "recommend__planner-genre" do
            = image_tag("pencil.gif", class: "recommend__planner-genre-image", size: "24x24")
            .recommend__planner-genre-name アイドル 世界のももクロ
        .recommend__money
          %dl
            %dt.money
              = image_tag("yen.gif", class: "money__image", size: "25x25")
              .money__title 集まっている金額
            %dd.money__sum 1,222,999円
          .money__gage
            .money__gage__in{style: "width:65%" }
              .money__gage__in__percent 65%
          %dl
            %dt.money__supporter
              = image_tag("people.gif", class: "money__supporter-image", size: "24x24")
              .money__supporter-name サポーター
            %dd.money__supporter-count 1345人
          %dl
            %dt.money__limit
              = image_tag("clock-small.gif", class: "money__limit-image", size: "24x24")
              .money__limit-title 残り
            %dd.money__limit-days 23日
      .recommend__area
        = link_to "", class: "recommend__top" do
          = image_tag("images.jpg", class: "recommend__top-image", size: "310x170")
          %h2.recommend__top-text 今年で10周年を迎える、ももクロちゃん達を全力で応援しよう！
        .recommend__planner
          = link_to "", class: "recommend__planner-link" do
            = image_tag("icon_yellow.png", class: "recommend__planner-link-image", size: "36x36")
            .recommend__planner-link-name T1project 若松大輔
          = link_to "", class: "recommend__planner-genre" do
            = image_tag("pencil.gif", class: "recommend__planner-genre-image", size: "24x24")
            .recommend__planner-genre-name アイドル 世界のももクロ
        .recommend__money
          %dl
            %dt.money
              = image_tag("yen.gif", class: "money__image", size: "25x25")
              .money__title 集まっている金額
            %dd.money__sum 1,222,999円
          .money__gage
            .money__gage__in{style: "width:65%" }
              .money__gage__in__percent 65%
          %dl
            %dt.money__supporter
              = image_tag("people.gif", class: "money__supporter-image", size: "24x24")
              .money__supporter-name サポーター
            %dd.money__supporter-count 1345人
          %dl
            %dt.money__limit
              = image_tag("clock-small.gif", class: "money__limit-image", size: "24x24")
              .money__limit-title 残り
            %dd.money__limit-days 23日


      .contents__ditail
        = link_to "more >", "https://www.makuake.com", class: "contents__ditail__botton"
    .new
      .new__title 
        = image_tag("pencil.gif", class: "new__title-image", size: "24x24")
        .new__tailte-name 新しく始まったプロジェクト
      .new__area
        = link_to "", class: "recommend__top" do
          = image_tag("images.jpg", class: "recommend__top-image", size: "310x170")
          %h2.recommend__top-text 今年で10周年を迎える、ももクロちゃん達を全力で応援しよう！
= render partial: "footer"
