= render partial: "header"
.main
  = image_tag("1.jpg", class: "full__width")
  .contents
    .catch-copy
      %h1.catch-copy-top 新たなチャレンジを応援しよう。
      %h2.catch-copy-bottom 世の中を良くする新しいチャレンジが毎日続々と登場。
    = render partial: "index_recommend"
    = render partial: "index_ranking"
= render partial: "footer"
