= render partial: "header"
.post__view
  .post
    %h1.post__title プロジェクト投稿
    %p.post__copy 世の中にまだない、新しくて面白い新製品や新サービスを誕生させましょう。
  .post__form
    = form_for (@project), url: planner_projects_path do |f|
      .post__form__project
        .post__form__project-border
        %p.post__copy まず、下記に企画内容を入力しましょう。
        %p.post__copy 全項目入力必須です。内容を充実させ、たくさん支援してもらいましょう。
        .post__form__project-border
      .post__field
        .post__field__text 企画タイトル
        = f.text_field :main_title, class: 'post__field__box form-short'
      .post__field
        .post__field__text 目標金額
        = f.text_field :goal_price, class: 'post__field__box form-short'
      .post__field
        .post__field__text 期日
        = f.text_field :end_date, class: 'post__field__box form-short'
      .post__field
        .post__field__text メインイメージ
        %p.input-file-btn
          ファイルを選択
          = f.file_field :main_image, class: "input-file" do
            %span 選択されていません
      .post__field
        .post__field__text 紹介用見出し①
        = f.text_field :introduction, class: 'post__field__box form-short'
      .post__field
        .post__field__text 詳細文①
        = f.text_area :intro_body, class: 'post__field__box form-long'
      .post__field
        .post__field__text 画像①
        %p.input-file-btn
          ファイルを選択
          = f.file_field :intro_image, class: "input-file" do
            %span 選択されていません
      .post__field
        .post__field__text 紹介用見出し②
        = f.text_field :desc_title, class: 'post__field__box form-short'
      .post__field
        .post__field__text 詳細文②
        = f.text_area  :desc_body, class: 'post__field__box form-long'
      .post__field
        .post__field__text 画像②
        %p.input-file-btn
          ファイルを選択
          = f.file_field :desc_image, class: "input-file" do
            %span 選択されていません
      .post__field
        .post__field__text 紹介用見出し③
        = f.text_field :content_title, class: 'post__field__box form-short'
      .post__field
        .post__field__text 詳細文③
        = f.text_area :content_body, class: 'post__field__box form-long'
      .post__field
        .post__field__text 画像③
        %p.input-file-btn
          ファイルを選択
          = f.file_field :content_image, class: "input-file" do
            %span 選択されていません
      .post__field
        .post__field__text 紹介用見出し④
        = f.text_field :feature_title, class: 'post__field__box form-short'
      .post__field
        .post__field__text 詳細文④
        = f.text_area :feature_body, class: 'post__field__box form-long'
      .post__field
        .post__field__text 画像④
        %p.input-file-btn
          ファイルを選択
          = f.file_field :feature_image, class: "input-file" do
            %span 選択されていません
      .post__form__project
        .post__form__project-border
        %p.post__copy 次に支援者様へのリターンを入力しましょう。
        %p.post__copy こちらも全項目入力必須です。魅力的なリターンを用意して、皆で幸せになりましょう。
        .post__form__project-border
      = f.fields_for :investments do |i|
        .post__field
          .post__field__text リターンタイトル①
          = i.text_field :title, class: 'post__field__box form-short'
        .post__field
          .post__field__text リターン詳細文①
          = i.text_area :body, class: 'post__field__box form-long'
        .post__field
          .post__field__text 金額①
          = i.text_field :price, class: 'post__field__box form-short'
        .post__field
          .post__field__text リターン用画像①
          %p.input-file-btn
            ファイルを選択
            = i.file_field :image, class: "input-file" do
              %span 選択されていません
        .post__field
          .post__field__text 用意個数①
          = i.text_field :stock, class: 'post__field__box form-short'
        .post__field
          .post__field__text 納品予定日①(yyyy.mm.dd)
          = i.text_field :delivery_date, class: 'post__field__box form-short'
      = f.fields_for :investments do |i|
        .post__field
          .post__field__text リターンタイトル②
          = i.text_field :title, class: 'post__field__box form-short'
        .post__field
          .post__field__text リターン詳細文②
          = i.text_area :body, class: 'post__field__box form-long'
        .post__field
          .post__field__text 金額②
          = i.text_field :price, class: 'post__field__box form-short'
        .post__field
          .post__field__text リターン用画像②
          %p.input-file-btn
            ファイルを選択
            = i.file_field :image, class: "input-file" do
              %span 選択されていません
        .post__field
          .post__field__text 用意個数②
          = i.text_field :stock, class: 'post__field__box form-short'
        .post__field
          .post__field__text 納品予定日②
          = i.text_field :delivery_date, class: 'post__field__box form-short'
      = f.fields_for :investments do |i|
        .post__field
          .post__field__text リターンタイトル③
          = i.text_field :title, class: 'post__field__box form-short'
        .post__field
          .post__field__text リターン詳細文③
          = i.text_area :body, class: 'post__field__box form-long'
        .post__field
          .post__field__text 金額③
          = i.text_field :price, class: 'post__field__box form-short'
        .post__field
          .post__field__text リターン用画像③
          %p.input-file-btn
            ファイルを選択
            = i.file_field :image, class: "input-file" do
              %span 選択されていません
        .post__field
          .post__field__text 用意個数③
          = i.text_field :stock, class: 'post__field__box form-short'
        .post__field
          .post__field__text 納品予定日③
          = i.text_field :delivery_date, class: 'post__field__box form-short'
      = f.fields_for :investments do |i|
        .post__field
          .post__field__text リターンタイトル④
          = i.text_field :title, class: 'post__field__box form-short'
        .post__field
          .post__field__text リターン詳細文④
          = i.text_area :body, class: 'post__field__box form-long'
        .post__field
          .post__field__text 金額④
          = i.text_field :price, class: 'post__field__box form-short'
        .post__field
          .post__field__text リターン用画像④
          %p.input-file-btn
            ファイルを選択
            = i.file_field :image, class: "input-file" do
              %span 選択されていません
        .post__field
          .post__field__text 用意個数④
          = i.text_field :stock, class: 'post__field__box form-short'
        .post__field
          .post__field__text 納品予定日④
          = i.text_field :delivery_date, class: 'post__field__box form-short'
        = f.submit "投稿する", class: "post__btn"
= render partial: "footer"
