= render partial: "header"
.main
  .project__header
  .project
    = image_tag("main_project.png", class: "project__main__image")
    .project__main__detail
      %dl
        .st__money
          %project__main__detail
            = image_tag("yen-white.png", class: "st__money-icon")
            .st__money-title 集まっている金額
          %dd.st__money-num 1,222,999円
          .st__money-goal 目標金額 1,000,000円
      .money__gage.st__money-gage
        .money__gage__in{style: "width:65%" }
          .money__gage__in__percent 65%
      %dl
        %dt
          = image_tag("people-white.png", class: "st__money__supporter-icon")
          .st__money__supporter-name サポーター
        %dd.st__money__supporter-count 345人
      %dl
        %dt
          = image_tag("clock-white.png", class: "st__money__limit-icon")
          .st__money__limit-title 残り
        %dd.st__money__limit-days 23日
      .st__money-btn 支援するコースを選択する
= render partial: "footer"
