
.project__main
  .project__header
    .project__header__link
      = link_to "TOP  >  ", "/", class: "project__header__link-text"
      = link_to "プロジェクト一覧  >  ", "/", class: "project__header__link-text"
      = link_to "アイドル  >  ", "/", class: "project__header__link-text"
      .project__header__link-text NEWシングル「BLAST！」17枚目のシングルリリース決定!
    .project__menu
      = link_to "プロジェクト", "/", class: "nav-btn"
      = link_to "活動レポート", "/", class: "nav-btn"
      = link_to "応援コメント", "/", class: "nav-btn"
  .project
    = image_tag("main_project.jpg", class: "project__main__image")
    .project__main__detail
      %dl
        .st__money
          %project__main__detail
            = image_tag("yen-white.png", class: "st__money-icon")
            .st__money-title 集まっている金額
          %dd.st__money-num 11,208,781円
          .st__money-goal 目標金額 1,000,000円
      .money__gage.st__money-gage
        .money__gage__in{ style: "width:65%" }
          .money__gage__in__percent 65%
      %dl
        %dt
          = image_tag("people-white.png", class: "st__money__supporter-icon")
          .st__money__supporter-name サポーター
        %dd.st__money__supporter-count 932人
      %dl
        %dt
          = image_tag("clock-white.png", class: "st__money__limit-icon")
          .st__money__limit-title 残り
        %dd.st__money__limit-days 23日
      .st__money-btn 支援するコースを選択する
    .project__main__name
      .project__main__name-text NEWシングル「BLAST！」17枚目のシングルリリース決定!
      .tag__btn #ももいろクローバーZ
      .tag__btn #百田夏菜子
      .tag__btn #玉井詩織
      .tag__btn #有安杏果
      .tag__btn #佐々木彩夏
      .tag__btn #高城れに
    .project__left
      .project__detail
        .project__detail__border
        .project__detail__block ももいろクローバーZって？
        .project__detail__border
        = image_tag("main_project.jpg", class: "project__detail__image")
        .project__detail__body
          ももいろクローバーZ（ももいろクローバーゼット）は、スターダストプロモーション所属の音楽グループ。メンバーは百田夏菜子・玉井詩織・佐々木彩夏・有安杏果・高城れにの5人。2014年には、国立競技場でのコンサートを女性グループとしては初めて行い、2日間で11万人を動員。2016年にはコンサートの年間動員数が63.6万人となり、女性アーティスト1位を記録した（2014年に続き2度目）。女優としても活動し、グループ主演の青春映画『幕が上がる』においては日本アカデミー賞・TSUTAYA映画ファン賞・報知映画賞などを受賞。愛称はももクロ、ももクロちゃん。Zの文字を宙に書いて指を突き出すポーズを常用する。
        = image_tag("main_project.jpg", class: "project__detail__image")
        = image_tag("main_project.jpg", class: "project__detail__image")
        .project__detail__border
        .project__detail__block ももいろクローバーZって？
        .project__detail__border
        = image_tag("main_project.jpg", class: "project__detail__image")
        .project__detail__body
          ももいろクローバーZ（ももいろクローバーゼット）は、スターダストプロモーション所属の音楽グループ。メンバーは百田夏菜子・玉井詩織・佐々木彩夏・有安杏果・高城れにの5人。2014年には、国立競技場でのコンサートを女性グループとしては初めて行い、2日間で11万人を動員。2016年にはコンサートの年間動員数が63.6万人となり、女性アーティスト1位を記録した（2014年に続き2度目）。女優としても活動し、グループ主演の青春映画『幕が上がる』においては日本アカデミー賞・TSUTAYA映画ファン賞・報知映画賞などを受賞。愛称はももクロ、ももクロちゃん。Zの文字を宙に書いて指を突き出すポーズを常用する。
        = image_tag("main_project.jpg", class: "project__detail__image")
        = image_tag("main_project.jpg", class: "project__detail__image")
        .project__detail__border
        .project__detail__block ももいろクローバーZって？
        .project__detail__border
        = image_tag("main_project.jpg", class: "project__detail__image")
        .project__detail__body
          ももいろクローバーZ（ももいろクローバーゼット）は、スターダストプロモーション所属の音楽グループ。メンバーは百田夏菜子・玉井詩織・佐々木彩夏・有安杏果・高城れにの5人。2014年には、国立競技場でのコンサートを女性グループとしては初めて行い、2日間で11万人を動員。2016年にはコンサートの年間動員数が63.6万人となり、女性アーティスト1位を記録した（2014年に続き2度目）。女優としても活動し、グループ主演の青春映画『幕が上がる』においては日本アカデミー賞・TSUTAYA映画ファン賞・報知映画賞などを受賞。愛称はももクロ、ももクロちゃん。Zの文字を宙に書いて指を突き出すポーズを常用する。
        = image_tag("main_project.jpg", class: "project__detail__image")
        = image_tag("main_project.jpg", class: "project__detail__image")
        .project__detail__border
        .project__detail__block ももいろクローバーZって？
        .project__detail__border
        = image_tag("main_project.jpg", class: "project__detail__image")
        .project__detail__body
          ももいろクローバーZ（ももいろクローバーゼット）は、スターダストプロモーション所属の音楽グループ。メンバーは百田夏菜子・玉井詩織・佐々木彩夏・有安杏果・高城れにの5人。2014年には、国立競技場でのコンサートを女性グループとしては初めて行い、2日間で11万人を動員。2016年にはコンサートの年間動員数が63.6万人となり、女性アーティスト1位を記録した（2014年に続き2度目）。女優としても活動し、グループ主演の青春映画『幕が上がる』においては日本アカデミー賞・TSUTAYA映画ファン賞・報知映画賞などを受賞。愛称はももクロ、ももクロちゃん。Zの文字を宙に書いて指を突き出すポーズを常用する。
        = image_tag("main_project.jpg", class: "project__detail__image")
        = image_tag("main_project.jpg", class: "project__detail__image")
        .project__detail__border
        .project__detail__block ももいろクローバーZって？
        .project__detail__border
        = image_tag("main_project.jpg", class: "project__detail__image")
        .project__detail__body
          ももいろクローバーZ（ももいろクローバーゼット）は、スターダストプロモーション所属の音楽グループ。メンバーは百田夏菜子・玉井詩織・佐々木彩夏・有安杏果・高城れにの5人。2014年には、国立競技場でのコンサートを女性グループとしては初めて行い、2日間で11万人を動員。2016年にはコンサートの年間動員数が63.6万人となり、女性アーティスト1位を記録した（2014年に続き2度目）。女優としても活動し、グループ主演の青春映画『幕が上がる』においては日本アカデミー賞・TSUTAYA映画ファン賞・報知映画賞などを受賞。愛称はももクロ、ももクロちゃん。Zの文字を宙に書いて指を突き出すポーズを常用する。
        = image_tag("main_project.jpg", class: "project__detail__image")
        = image_tag("main_project.jpg", class: "project__detail__image")
        .project__detail__border
        .project__detail__block ももいろクローバーZって？
        .project__detail__border
        = image_tag("main_project.jpg", class: "project__detail__image")
        .project__detail__body
          ももいろクローバーZ（ももいろクローバーゼット）は、スターダストプロモーション所属の音楽グループ。メンバーは百田夏菜子・玉井詩織・佐々木彩夏・有安杏果・高城れにの5人。2014年には、国立競技場でのコンサートを女性グループとしては初めて行い、2日間で11万人を動員。2016年にはコンサートの年間動員数が63.6万人となり、女性アーティスト1位を記録した（2014年に続き2度目）。女優としても活動し、グループ主演の青春映画『幕が上がる』においては日本アカデミー賞・TSUTAYA映画ファン賞・報知映画賞などを受賞。愛称はももクロ、ももクロちゃん。Zの文字を宙に書いて指を突き出すポーズを常用する。
        = image_tag("main_project.jpg", class: "project__detail__image")
        = image_tag("main_project.jpg", class: "project__detail__image")

      .project__detail__bottom
        .investments__btn 支援するコースを選択する
      / = image_tag("logo1.png", class: "project__detail__bottom-image")
      / .project__detail__logo-text “まだここにない”を手に入れよう
      / .project__detail__bottom-box
      /   = image_tag("main_project.jpg", class: "project__detail__bottom-box-image")
      /   .project__detail__bottom-box-fb-link
      /     %p.detail__fb-link-text 
      /       このプロジェクトが気に入ったら
      /       %br
      /         %span.detail__fb-link-text-span いいね!
      /         をしよう
    .project__right
      .investments__bar
        .investments__bar__title 支援するコースを選択する
        .investments__bar__text このプロジェクトは目標金額の達成有無にかかわらず、サポーターがプロジェクトに支援を申し込んだ時点でプロジェクトの成立（売買契約の成立）となります。
        .investments__bar__menu
          .investments__bar__menu-money
            10,000円コース
            %span.investments__bar__menu-tax (税込)
          .investments__bar__menu-qty 残り55個
        .investments__bar__detail
          .investments__bar__detail-title Makuake限定特別会員権
          = image_tag("main_project.jpg", class: "investments__bar__detail-image")
          .investments__bar__detail-body 
            ＜Makuake限定特別会員権＞
            ■優先予約権
            ・年内のお店の御予約を、MAKUAKE限定会員の方のみとします。先取りして2017年10月吉日より、個室内のテーブル席の御予約が可能です。
            ・2018年以降のグランドオープン以降は一般のお客様は1ヶ月前、会員は3ヶ月前から個室内のテーブル席をご予約可能です。 （カウンターは年明け後は一般の方も会員の方も1ヶ月前からとなります。）
            ・御予約は2〜4名様でお願いいたします。
            ・飲食代は当日ご来店時にお支払いただきます。コースのみで、その日の仕入れ、コース内容により変動いたします。8,000円〜20,000円くらいを想定しております。
            ・個室利用料はかかりません。

            ※有効期限：2017年11月〜2018年10月
            ※ご予約は2～4名様となります。ご了承ください。
            ※ランチは適応されません。
            ※写真撮影は食材の旬を逃し、他のお客様のご迷惑になるためご遠慮頂きます。
            ※食べログなどのグルメサイトへの投稿もオープンから向こう半年はご遠慮頂きたく考えております。
            ※飲食店関係者の購入来店は不可となります。
          .investments__supporter-count 
            = image_tag("black-people.png", class: "investments__supporter-count-image")
            .investments__supporter-count-text 95人が支援しています。
          .investments__supporter-duedata
            = image_tag("bag.png", class: "investments__supporter-duedata-image")
            .investments__supporter-duedata-text 2017年12月にお届け予定です。
        .investments__bar__link__box
          .order__btn このコースに申し込む

        .investments__bar__menu
          .investments__bar__menu-money
            20,000円コース
            %span.investments__bar__menu-tax (税込)
          .investments__bar__menu-qty 残り55個
        .investments__bar__detail
          .investments__bar__detail-title Makuake限定特別会員権
          = image_tag("main_project.jpg", class: "investments__bar__detail-image")
          .investments__bar__detail-body 
            ＜Makuake限定特別会員権＞
            ■優先予約権
            ・年内のお店の御予約を、MAKUAKE限定会員の方のみとします。先取りして2017年10月吉日より、個室内のテーブル席の御予約が可能です。
            ・2018年以降のグランドオープン以降は一般のお客様は1ヶ月前、会員は3ヶ月前から個室内のテーブル席をご予約可能です。 （カウンターは年明け後は一般の方も会員の方も1ヶ月前からとなります。）
            ・御予約は2〜4名様でお願いいたします。
            ・飲食代は当日ご来店時にお支払いただきます。コースのみで、その日の仕入れ、コース内容により変動いたします。8,000円〜20,000円くらいを想定しております。
            ・個室利用料はかかりません。

            ※有効期限：2017年11月〜2018年10月
            ※ご予約は2～4名様となります。ご了承ください。
            ※ランチは適応されません。
            ※写真撮影は食材の旬を逃し、他のお客様のご迷惑になるためご遠慮頂きます。
            ※食べログなどのグルメサイトへの投稿もオープンから向こう半年はご遠慮頂きたく考えております。
            ※飲食店関係者の購入来店は不可となります。
          .investments__supporter-count 
            = image_tag("black-people.png", class: "investments__supporter-count-image")
            .investments__supporter-count-text 95人が支援しています。
          .investments__supporter-duedata
            = image_tag("bag.png", class: "investments__supporter-duedata-image")
            .investments__supporter-duedata-text 2017年12月にお届け予定です。
        .investments__bar__link__box
          .order__btn このコースに申し込む

        .investments__bar__menu
          .investments__bar__menu-money
            20,000円コース
            %span.investments__bar__menu-tax (税込)
          .investments__bar__menu-qty 残り55個
        .investments__bar__detail
          .investments__bar__detail-title Makuake限定特別会員権
          = image_tag("main_project.jpg", class: "investments__bar__detail-image")
          .investments__bar__detail-body 
            ＜Makuake限定特別会員権＞
            ■優先予約権
            ・年内のお店の御予約を、MAKUAKE限定会員の方のみとします。先取りして2017年10月吉日より、個室内のテーブル席の御予約が可能です。
            ・2018年以降のグランドオープン以降は一般のお客様は1ヶ月前、会員は3ヶ月前から個室内のテーブル席をご予約可能です。 （カウンターは年明け後は一般の方も会員の方も1ヶ月前からとなります。）
            ・御予約は2〜4名様でお願いいたします。
            ・飲食代は当日ご来店時にお支払いただきます。コースのみで、その日の仕入れ、コース内容により変動いたします。8,000円〜20,000円くらいを想定しております。
            ・個室利用料はかかりません。

            ※有効期限：2017年11月〜2018年10月
            ※ご予約は2～4名様となります。ご了承ください。
            ※ランチは適応されません。
            ※写真撮影は食材の旬を逃し、他のお客様のご迷惑になるためご遠慮頂きます。
            ※食べログなどのグルメサイトへの投稿もオープンから向こう半年はご遠慮頂きたく考えております。
            ※飲食店関係者の購入来店は不可となります。
          .investments__supporter-count 
            = image_tag("black-people.png", class: "investments__supporter-count-image")
            .investments__supporter-count-text 95人が支援しています。
          .investments__supporter-duedata
            = image_tag("bag.png", class: "investments__supporter-duedata-image")
            .investments__supporter-duedata-text 2017年12月にお届け予定です。
        .investments__bar__link__box
          .order__btn このコースに申し込む

        .investments__bar__menu
          .investments__bar__menu-money
            20,000円コース
            %span.investments__bar__menu-tax (税込)
          .investments__bar__menu-qty 残り55個
        .investments__bar__detail
          .investments__bar__detail-title Makuake限定特別会員権
          = image_tag("main_project.jpg", class: "investments__bar__detail-image")
          .investments__bar__detail-body 
            ＜Makuake限定特別会員権＞
            ■優先予約権
            ・年内のお店の御予約を、MAKUAKE限定会員の方のみとします。先取りして2017年10月吉日より、個室内のテーブル席の御予約が可能です。
            ・2018年以降のグランドオープン以降は一般のお客様は1ヶ月前、会員は3ヶ月前から個室内のテーブル席をご予約可能です。 （カウンターは年明け後は一般の方も会員の方も1ヶ月前からとなります。）
            ・御予約は2〜4名様でお願いいたします。
            ・飲食代は当日ご来店時にお支払いただきます。コースのみで、その日の仕入れ、コース内容により変動いたします。8,000円〜20,000円くらいを想定しております。
            ・個室利用料はかかりません。

            ※有効期限：2017年11月〜2018年10月
            ※ご予約は2～4名様となります。ご了承ください。
            ※ランチは適応されません。
            ※写真撮影は食材の旬を逃し、他のお客様のご迷惑になるためご遠慮頂きます。
            ※食べログなどのグルメサイトへの投稿もオープンから向こう半年はご遠慮頂きたく考えております。
            ※飲食店関係者の購入来店は不可となります。
          .investments__supporter-count 
            = image_tag("black-people.png", class: "investments__supporter-count-image")
            .investments__supporter-count-text 95人が支援しています。
          .investments__supporter-duedata
            = image_tag("bag.png", class: "investments__supporter-duedata-image")
            .investments__supporter-duedata-text 2017年12月にお届け予定です。
        .investments__bar__link__box
          .order__btn このコースに申し込む

        .investments__bar__menu
          .investments__bar__menu-money
            20,000円コース
            %span.investments__bar__menu-tax (税込)
          .investments__bar__menu-qty 残り55個
        .investments__bar__detail
          .investments__bar__detail-title Makuake限定特別会員権
          = image_tag("main_project.jpg", class: "investments__bar__detail-image")
          .investments__bar__detail-body 
            ＜Makuake限定特別会員権＞
            ■優先予約権
            ・年内のお店の御予約を、MAKUAKE限定会員の方のみとします。先取りして2017年10月吉日より、個室内のテーブル席の御予約が可能です。
            ・2018年以降のグランドオープン以降は一般のお客様は1ヶ月前、会員は3ヶ月前から個室内のテーブル席をご予約可能です。 （カウンターは年明け後は一般の方も会員の方も1ヶ月前からとなります。）
            ・御予約は2〜4名様でお願いいたします。
            ・飲食代は当日ご来店時にお支払いただきます。コースのみで、その日の仕入れ、コース内容により変動いたします。8,000円〜20,000円くらいを想定しております。
            ・個室利用料はかかりません。

            ※有効期限：2017年11月〜2018年10月
            ※ご予約は2～4名様となります。ご了承ください。
            ※ランチは適応されません。
            ※写真撮影は食材の旬を逃し、他のお客様のご迷惑になるためご遠慮頂きます。
            ※食べログなどのグルメサイトへの投稿もオープンから向こう半年はご遠慮頂きたく考えております。
            ※飲食店関係者の購入来店は不可となります。
          .investments__supporter-count 
            = image_tag("black-people.png", class: "investments__supporter-count-image")
            .investments__supporter-count-text 95人が支援しています。
          .investments__supporter-duedata
            = image_tag("bag.png", class: "investments__supporter-duedata-image")
            .investments__supporter-duedata-text 2017年12月にお届け予定です。
        .investments__bar__link__box
          .order__btn このコースに申し込む

        .planner__inquiry
          .planner__inquiry-text 実行者へ問合せ
= render partial: "footer"





































