.header
  .inbox
    = link_to "/" do
      = image_tag("makuake-logo.png", class: "inbox__logo")
.main
  .main__investment
    %ul.investment__header
      %li.investment__header-list  1.支払方法の選択
      %li.investment__header-list.list-select 2.お届け先の入力
      %li.investment__header-list 3.申込み内容の確認
      %li.investment__header-list.list-last 4.完了
    .investment__menu
      %h2.investment__menu__title お届け先情報をご入力ください
      .investment__menu__text 
        Makuakeサイトで取得した情報の取り扱いに関する
        = link_to "プライバシーポリシー", "", class: "investment__menu__text-link"
        について

    = form_for (@supporter), url: project_investment_supporters_path do |f|
      .investment__detail
        .post__form
          .post__field
            .post__field__text 名前
            = f.text_field :name, class: 'post__field__box form-short', placeholder: '例）若松大輔'
          - if @supporter.errors.full_messages_for(:name).any?
            .post__error 名前を入力してください。
          .post__field
            .post__field__text 性別
            .radio__field
              %label
                男
                = f.radio_button :gender, "男"
              %label
                女
                = f.radio_button :gender, "女"
          - if @supporter.errors.full_messages_for(:gender).any?
            .post__error 性別を選択してください。
          .post__field
            .post__field__text 誕生日
            = f.text_field :birthday, class: 'post__field__box form-short', placeholder: '例）1986-12-22', maxlength: "10"
          - if @supporter.errors.full_messages_for(:birthday).any?
            .post__error 誕生日を入力してください。
          .post__field
            .post__field__text 電話番号
            = f.text_field :mobile, class: 'post__field__box form-short', placeholder: '例）09012345678', maxlength: "11"
          - if @supporter.errors.full_messages_for(:mobile).any?
            .post__error 電話番号を入力してください。
          .post__field
            .post__field__text 郵便番号
            = f.text_field :postal_code, class: 'post__field__box form-short', placeholder: '例）3350005', maxlength: "7"
          - if @supporter.errors.full_messages_for(:postal_code).any?
            .post__error 郵便番号を入力してください。
          .post__field
            .post__field__text 都道府県
            = f.text_field :region, class: 'post__field__box form-short', placeholder: '例）埼玉県'
          - if @supporter.errors.full_messages_for(:region).any?
            .post__error 都道府県を入力してください。
          .post__field
            .post__field__text 市町村
            = f.text_field :city, class: 'post__field__box form-short', placeholder: '例）豊田市深見町'
          - if @supporter.errors.full_messages_for(:city).any?
            .post__error 市町村を入力してください。
          .post__field
            .post__field__text 番地
            = f.text_field :block, class: 'post__field__box form-short', placeholder: '例）1287-49'
          - if @supporter.errors.full_messages_for(:block).any?
            .post__error 番地を入力してください。
          .post__field
            .post__field__text 建物名
            = f.text_field :building, class: 'post__field__box form-short', placeholder: '例）メゾン305号室'
          - if @supporter.errors.full_messages_for(:building).any?
            .post__error 建物名を入力してください。
      .btn__field
        = link_to "戻る", project_investment_path(@investment.project_id, @investment), class: "back__btn"
        = f.submit "投稿する", class: "support__submit next__btn"
    .caution__box
      %p ご確認お願いします
      %p このプロジェクトは目標金額の達成有無にかかわらず、サポーターがプロジェクトに支援を申し込んだ時点でプロジェクトの成立（売買契約の成立）となります。※Makuakeは、プロジェクトオーナーのプロジェクトが必ず成功することや、プロジェクトの品質、リターン内容を保証するものではありません。従って、プロジェクト進行中に関するトラブル、返金要求、リターン返品要求はプロジェクトオーナーの責任のもと行われます。
      %p セキュリティについて
      .caution__inbox
        = image_tag("siteSealImage.gif", class: "caution__inbox-image")
        %p.caution__inbox-text サイトはSSL暗号化通信に対応しておりますので、入力した情報は安全に送信されます。

























